@model RandomSite.Models.ClothingItemModel

<div id="scotts-app">
    <p>@Model.Name</p>
    <p>@Model.PriceInPennies</p>
    <p>@Model.QuantityInStock</p>
    <p>@Model.ImageUrl</p>
    <p>@Model.Description</p>
    <a href="@Model.BrandUrl">@Model.BrandName</a>
    <hr />
    @foreach (var size in Model.SizesOffered)
    {<p>size: @size</p>}
    <hr />
    @foreach (var color in Model.ColorsOffered)
    {<p>color: @color</p>}

</div>